* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}


/* ==================
  Banner CSS
=================== */

.banner {
  text-align: center;
  color: #fff;
}

.banner h4 {
  font-weight: 400;
  margin-bottom: 0;
}

.banner h1 {
  font-size: 50px;
  text-transform: capitalize;
  margin: 20px;
  font-weight: 600;
}

.banner p {
  color: #bbb;
  font-size: 18px;
}

.banner a {
  margin: 0 5px;
}

.box_btn {
  display: inline-block;
  background-color: tomato;
  color: #fff;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 7px;
}

.border_btn {
  display: inline-block;
  color: #fff;
  border: 1px solid tomato;
  border-radius: 7px;
  padding: 9px 30px;
  font-size: 18px;
  font-weight: 500;
}


/* =====================
  Section Heading CSS
======================= =*/

.section-title h4 {
  font-size: 16px;
  font-weight: 600;
  color: #777;
  margin-bottom: -10px;
}

.section-title h2 {
  font-size: 32px;
  text-transform: capitalize;
  margin: 15px 0;
  display: inline-block;
  position: relative;
  font-weight: 700;
  padding-bottom: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.section-title p {
  font-weight: 300;
  font-size: 14px;
}

.black-bg .section-title h2,
.black-bg .section-title h4,
.black-bg .section-title p {
  color: #fff
}

.section-title h2:before {
  position: absolute;
  content: " ";
  width: 150px;
  height: 1px;
  background-color: #777;
  bottom: 0;
  left: 50%;
  margin-left: -75px;
}

.section-title h2:after {
  position: absolute;
  content: " ";
  width: 80px;
  height: 3px;
  background-color: #e16038;
  border: darkblue;
  bottom: -1px;
  left: 50%;
  margin-left: -40px;
}

.section-title {
  margin-bottom: 70px;
  text-align: center;
}


/* =====================
  About Widget CSS
======================= =*/

.single-about i {
  font-size: 25px;
}

.single-about h4 {
  margin: 20px 0;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 22px;
}

.single-about a {
  text-transform: capitalize;
  margin-top: 10px;
  display: inline-block;
  color: tomato;
}

.single-about i {
  font-size: 36px;
}
.pt-100{
  padding-top: 100px;
}

.about-text h4 {
  text-transform: capitalize;
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: 700;
}

.about-text p {
  margin-bottom: 5px;
}

.about-text ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  float: left;
  width: 50%;
  margin: 15px 0;
}

.about-text ul li {
  margin-bottom: 10px;
  color: #646f79;
  font-size: 14px;
}

.about-text ul li,
.single-feature ul li {
  margin-bottom: 10px;
  color: #646f79;
  font-size: 14px;
}

.about-text ul li i,
.single-feature ul li i {
  padding-right: 5px;
  color: #646f79
}

.about-text a {
  margin-top: 20px;
  color: #FFF;
  background-color: #e16038;
  padding: 10px 30px;
  border-radius: 7px;
}

.about-img img {
  width: 100%;
}

.about-img {
  position: relative;
  z-index: 2;
}

.about-img:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: tomato;
  z-index: -1;
  right: -10px;
  bottom: -10px;
}
/*==========================
 Features Area CSS 
 ==========================*/

.single-feature ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  float: left;
  width: 50%;
  margin: 15px 0;
}
.features {
  position: relative;
  background-color: #f8f9fa;
}
.features-1::before {
	position: absolute;
	content: "";
	width: 50%;
	height: 100%;
	background-image: url("../img/feature-1.jpg");
	right: 0;
	top: 0;
	background-size: cover;
	background-position: center;
}
.features-2::before {
	position: absolute;
	content: "";
	width: 50%;
	height: 100%;
	background-image: url("../img/feature-2.jpg");
	left: 0;
	top: 0;
	background-size: cover;
	background-position: center;
}
.features-1 {
  position: relative;
}
.single-feature {
	padding: 100px;
	overflow: hidden;
}
.single-feature h4 {
	text-transform: uppercase;
	font-size: 34px;
	position: relative;
	margin-bottom: 20px;
	padding-bottom: 20px;
	font-weight: 700;
}
.single-feature h4:before {
  position: absolute;
  content: "";
  width: 40px;
  height: 2px;
  background-color: tomato;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
}
.single-feature p {
  margin-bottom: 20px;
}
.features-1::after {
	position: absolute;
	content: "";
	width: 50%;
	height: 100%;
	right: 0;
	top: 0;
	background-color: #333;
	opacity: .8;
}
.features-2::after {
	position: absolute;
	content: "";
	width: 50%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #333;
	opacity: .8;
}
.single-feature h6 {
	color: #777;
	text-transform: lowercase;
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 10px;
}
.feature-box h5 {
	font-size: 22px;
	text-transform: capitalize;
	font-weight: 600;
	margin: 15px 0;
}
.feature-box {
  text-align: left;
  margin: 25px 0;
}
.feature-box i {
  font-size: 25px;
}
.single-feature a.box-btn {
	margin-top: 30px;
}