*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

/* ==================
    Banner CSS
=================== */
.banner{
    text-align: center;
    color: #fff;
}
.banner h4{
font-weight: 400;
margin-bottom: 0;
}
.banner h1{
    font-size: 50px;
    text-transform: capitalize;
    margin: 20px;
    font-weight: 600;
}
.banner p{
    color: #bbb;
    font-size: 18px;
}
.banner a{
    margin: 0 5px;
}
.box_btn{
    display: inline-block;
    background-color: tomato;
    color: #fff;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 7px;
}
.border_btn{
    display: inline-block;
    color: #fff;
    border: 1px solid tomato;
    border-radius: 7px;
    padding: 9px 30px;
    font-size: 18px;
    font-weight: 500;
}

/* =====================
    Section Heading CSS
======================= =*/
/* 1. Section Title CSS */

.section-title h4 {
	font-size: 16px;
	font-weight: 600;
	color: #777;
    margin-bottom: -10px;
}
.section-title h2 {
	font-size: 32px;
	text-transform: capitalize;
	margin: 15px 0;
	display: inline-block;
	position: relative;
	font-weight: 700;
	padding-bottom: 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.section-title p {
	font-weight: 300;
	font-size: 14px;
}
.black-bg .section-title h2, .black-bg .section-title h4, .black-bg .section-title p {
  color:#fff
}
.section-title h2:before {
  position: absolute;
  content: " ";
  width: 150px;
  height: 1px;
  background-color: #777;
  bottom: 0;
  left: 50%;
  margin-left: -75px;
}
.section-title h2:after {
  position: absolute;
  content: " ";
  width: 80px;
  height: 3px;
  background-color: #e16038;
  border: darkblue;
  bottom: -1px;
  left: 50%;
  margin-left: -40px;
}
.section-title {
  margin-bottom: 70px;
  text-align: center;
}